@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital@0;1&display=swap');
*{
    font-family: 'Ubuntu'sans-serif;
    padding: 0;
    margin: 0;

}
a{
    color: white;
    text-decoration: none;
}
body{
    background-image: linear-gradient(to right,#01022d,#000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contener{
background-image: linear-gradient(to right,#01022de5 , #00000088),url(image/photo-1510915228340-29c85a43dcfe.jpg);
/*background-position: center;*/
    width: 90%;
    height: 640px;
}
.contener:hover{
    background-image: linear-gradient(to right,#01022de5 30%, transparent),
    url(image/photo-1510915228340-29c85a43dcfe.jpg);
   
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    font-size: 30px;
    text-transform: uppercase;

}
ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-between;

}
ul a{border-bottom: 2px solid transparent;


}
ul a:hover{
    border-bottom-color:white ;
}
.bak{
    color: white;
    width: 50%;
    margin-top: 50px;
    padding: 30px;
}
.bak h2{
    font-size: 100px;
    text-transform: uppercase;

}
.bak p{
    letter-spacing: 3px;
    width: 350px;
    padding: 20px 0;

}
.bak button{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}
.bak button:hover{
    
    background-color: transparent;
    border-color: white;
    color: white;
    
}